* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;

}

.showcase.active {
    right: 300px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;

}

video {
    z-index: 0;
}

img {
    height: auto;
    width: 50vh;
    z-index: 2;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10vh;
    z-index: 3;
}

.text {
    width: 700px;
    height: 100px;
    margin-top: 10vh;
    color: #000000;
    background-color: #ffffffb6;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 0px;
    padding: 3vh;

}

#btnOk {
    width: 200px;
    height: 40px;
    margin-top: 10vh;
    font-size: 0.9rem;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-text-fill-color: #ffffff;
    background: #5348b8;
    border: 0px none #ffffff;
    cursor: pointer;

}

.personagem {
    max-width: 30vh;
    height: auto;
    z-index: 2;
    position: absolute;
    margin-left: 20vh;
    margin-top: 10vh;
}

@media (max-width:700px){
    .showcase video {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
    }
    video {
        z-index: 0;
    }   
    img {
        width: 40vh;
        z-index: 2;
        margin-right: 10px;
        top: 35vh;
        
    }
    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -10vh;
        z-index: 3;
    }
    .text {
        width: 225px;
        height: 130px;
        left: 100px;
        margin-top: 10vh;
        color: #000000;
        background-color: #ffffffb6;
        border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        padding: 2vh;
        text-align: center;
        margin-right: 7px;
        font-size: 13px;
    }
    #btnOk {
        width: 100px;
        height: 60px;
        margin-top: 40vh;
        padding: 5px;
        font-size: 0.9rem;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        -webkit-text-fill-color: #ffffff;
        background: #5348b8;
        border: 0px none #ffffff;   
        cursor: pointer;
    }
    .personagem {
        max-width: 20vh;
        height: auto;
        z-index: 2;
        position: absolute;
        margin-left: -10vh;
        margin-top: 10vh;
    }   
}
